{% load i18n %}
<h1>{% trans 'Categories' %}</h1>
<a href="{% url 'manager:category-create' %}">{% trans 'NewCategory' %}</a>
<table border="1px">
  <tr>
    <th>ID</th>
    <th>{% trans 'Description' %}</th>
    <th>{% trans 'Edit' %}</th>
    <th>{% trans 'Delete' %}</th>
  </tr>
  {% for category in categories %}
  <tr>
    <td>{{ category.id }}</td>
    <td>{{ category.description }}</td>
    <td>
      <a href="{% url 'manager:category-edit' category.id %}">{% trans 'Edit' %}</a>
    </td>
    <td>
      <a href="{% url 'manager:category-delete' category.id %}">{% trans 'Delete' %}</a>
    </td>
  </tr>
  {% endfor %}
</table>