{% load i18n %}
<h1>{% trans 'Products' %}</h1>
<a href="{% url 'manager:product-create' %}">{% trans 'NewProduct' %}</a>
<table border="1px">
  <tr>
    <th>{% trans 'Barcode' %}</th>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Edit' %}</th>
    <th>{% trans 'Delete' %}</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.barcode }}</td>
    <td>{{ product.title }}</td>
    <td>
      <a href="{% url 'manager:product-edit' product.slug %}">{% trans 'Edit' %}</a>
    </td>
    <td>
      <a href="{% url 'manager:product-delete' product.slug %}">{% trans 'Delete' %}</a>
    </td>
  </tr>
  {% endfor %}
</table>