{% extends 'base.html' %}
{% load i18n %}
<hr/>
{% block title %}{% trans 'ProductsList' %}{% endblock title %}
 <form action="{% url 'website:index' %}">
    <label for="q">Search</label>
    <input type="text" name="q" id="q">
    <input type="submit" value="submit">
  </form>
  {% block content %}
    <hr/>
    <center>
    ID: {{ product.barcode }}<br/>
    {% trans 'Title' %}: {{ product.title }}<br/>
    {% trans 'Description' %}: {{ product.description }}<br/>
    <img src='{{ product.image.url }}' /><br/>
    {% trans 'Price' %}: US$ {{ product.price }}<br/>
    <form action="{% url 'website:add-to-cart' %}" method="post">
    	{% csrf_token %}
    	<input type="hidden" name="product_id" id="product_id" value="{{ product.barcode }}" />
    	<input type="submit" name="add_cart_submit" id="add_cart_submit" value="{% trans 'AddToCart' %}" />
    </form>
    <hr/>    
    </center>
  {% endblock content%}